# Node/Vue
**/node_modules/
**/dist/
**/build/
**/.env
**/.env.*

# .NET/ASP.NET
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# VSCode/IDE
.vscode/
.idea/
*.log

# Sistema
.DS_Store
Thumbs.db